*{
    box-sizing: border-box;
}



::selection{
    background: #8AD1B8;
    color: black;
}


#enviar:active{
    background-color: #4D7067;
}



#corpo{
    background: url(./assets/04-BG.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
   


}


#barra-top{
    background: #ACD0B6;
    text-align: center;
    padding: 1.2em;
}


#titulo{
    font-family: 'Cookie', cursive;
    text-align: center;
    color:#E4EDCE;
    line-height: 46px;
    margin-bottom: 13px;
    font-size: 4em;
}


 #caixa-formulario{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 380px;

}


input, #message{
   
    font-family: 'Open Sans', sans-serif; 
    display:flex;
    border:none;
    font-size: 1em;
    width: 100%;
    padding: 12px 15px;
    border-radius: 3.5px;
    margin: 19px 0px; 
}



#message{
    height: 150px;
}


#enviar{
    
    background-color: #71A496;
    font-weight: bold;
    box-shadow: 0 6.5px 0 #4A8978;
    color:white;
    justify-content: center;
    
}



@media screen and (min-width: 1024px ){
    #corpo{
        background-image: url(./assets/06-BG.jpg);
    }
}

@media screen and (max-width: 600px) {
    #corpo{
        background-image: url(./assets/07-BG.jpg)
    }

    #caixa-formulario{
        width: 100%;
       
    }

    #enviar{
        position: absolute;
        margin-bottom: 0;
       
    }
   
}